[Unit]
Description=FortiADC MySQL Database Healthcheck Server
After=mariadb.service

[Service]
Type=simple
ExecStart=/bin/bash --norc /opt/space/FortiADC-MySQL-Healthcheck-Server.sh
ExecStop=/bin/bash --norc /opt/space/kill-by-pid-file.sh /tmp/FortiADC-MySQL-Healthcheck-Server.pid
Restart=always
PIDFile=/tmp/FortiADC-MySQL-Healthcheck-Server.pid

[Install]
WantedBy=network-online.target
